{% extends "layout.html" %}
{% block content %}

<body class="colorFondo">

<div class="ui secondary pointing inverted menu colorBarras">
  <a class="item" href="/">
    Dashboard
  </a>
  <a class="item active">
    BOTs
  </a>
  <a class="item" href="/backtest">
    Backtest
  </a>
  <div class="right menu">
    <a class="ui item">
      Logout
    </a>
  </div>
</div>

<div id="index_div" style="margin: 20px;" class="ui inverted colorBarras segment tope-width"> 
	<p>Ningun BOT creado</p>
  <p>Ir a Backtest para hacer una simulacion rapida</p>
</div>

</body>

{% endblock content %}