<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  	<script type="text/javascript" src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script> 
	
	<script type="text/javascript">
		{% if klines %}
			var klines_js = JSON.parse('{{ klines | tojson | safe }}');
			var trades_js = JSON.parse('{{ trades | tojson | safe }}');
			var price_precision = {{ price_precision }};
			var quantity_precision = {{ quantity_precision }};
		{% endif %}

		{% if MA %}
			var MA_js = JSON.parse('{{ MA | tojson | safe }}');
		{% endif %}
	</script>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bot-css.css') }}">
	
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">

	<link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='favicon/apple-icon-57x57.png') }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='favicon/apple-icon-60x60.png') }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='favicon/apple-icon-72x72.png') }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='favicon/apple-icon-76x76.png') }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='favicon/apple-icon-114x114.png') }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='favicon/apple-icon-120x120.png') }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='favicon/apple-icon-144x144.png') }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='favicon/apple-icon-152x152.png') }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-icon-180x180.png') }}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='favicon/android-icon-192x192.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
	<link rel="manifest" href="{{ url_for('static', filename='favicon/manifest.json') }}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{ url_for('static', filename='favicon/ms-icon-144x144.png') }}">
	<meta name="theme-color" content="#ffffff">
	{% block header %}
	{% endblock %}

</head>

<body id="body" class="colorFondo">

<div class="ui secondary pointing inverted menu colorBarras">
  {% for item in session['navbar'] %}
  <a class="item {% if item['active'] == True %} active {% endif %}" href="{% if item['active'] == False %} {{ item['href'] }} {% endif %}">
    {{ item['text'] }}
  </a>    
  {% endfor %}
  {% if current_user.is_authenticated %}
  <div class="right menu">
    <p class="ui item hideOnPhone" style="color: rgb(240, 185, 11) !important;">
      {{ current_user.name }}
    </p>
    <a class="ui item" href="/logout">
      Logout
    </a>
  </div>
  {% endif %}
</div>

{% block content %}
{% endblock %}

</html>